{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3 offset-md-3 text-center">
      <h1 class="p-5">{% trans "Sign In" %}</h1>

      <p>{% blocktrans %}Welcome back — log in or <em><a class="link" href="{{ signup_url }}">Register</a></em> to join the
        conversation and share your thoughts on the science behind
        cooking.
        {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-3 offset-md-3 text-center pb-5">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn submit-btn right" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}