{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 text-center">
      <h1 class="m-5 p-3">Thank you for visiting!</h1>
      <h3 class="m-5">{% trans "Sign Out" %}</h3>

      <p class="mb-4">{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn submit-btn" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}