{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3 offset-md-3 text-center">
      <h1 class="p-5">{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}
        Sign up to explore, learn, and share your curiosity about food and cooking.
        or <em><a class="link" href="{{ login_url }}">Log in</a></em> if you have an account already.
      {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-3 offset-md-3 text-center pb-5">
      <form class="signup" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn submit-btn right" type="submit">
          {% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}