{% extends "base.html" %}
{% block content %}

<!-- article_list.html content starts here -->

<!-- Header -->
<div>
    <h1>Did you know that...</h1>
</div>

<!-- Articles list -->

<div class="container">
    <div class="row">
        {% for article in object_list %}
        <div class="col-md-4">
            <div class="card">
                <div class="image">

                </div>
                <div class="card-body">
                    <h2>{{article.title}}</h2>
                    <p>{{article.excerpt}}</p>
                    <p>Author: {{article.author}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>







{% endblock content %}