{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="card col-12">
            <h1>{{article.title}}</h1>
            <p>{{article.author}} | {{article.created_on}}</p>
            <div class="card-body">
                <p>{{ article.content | safe }}</p>
            </div>
        </div>
    </div>
    <!-- Display number of comments -->
    <div class="row">
        <div class="col-12">
            <i class="fa-regular fa-message"></i> {{comment_count}}
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Display comments -->
    <div class="row">
        <div class="col-md-8 card mb-3  mt-2 ">
            <div class="card-body">
                <h3>Comments:</h3>
                <!-- For loop to iterate comments -->
                {% for comment in comments %}
                <div class="
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                    <p>
                        {{ comment.author }}
                        <span class>
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approved">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn delete-btn" data-comment-id="{{ comment.id }}">Delete</button>
                    <button class="btn edit-btn" data-comment-id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Comment form -->
        <div class="col-md-4 card mb-3 mt-2">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-dark btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">
                    Delete comment?
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                Are you sure you want to remove this comment?
                Once deleted, it cannot be recovered.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>

                <a id="deleteConfirm" href="#" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block edit_del %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock edit_del %}