{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- About us child template -->
 <div class="container about-card">
    <div class="row">
        <!-- About us image -->
         <div class="col-4">
            <img class="img-fluid rounded" src="{% static 'images/chef-about-04.webp' %}" alt="picture of a chef">
         </div>
         <!-- About us content -->
          <div class="col-8">
            <h2>{{ about.title }}</h2>
            <p>{{ about.content | safe }}</p>
          </div>
    </div>
    <!-- Updated on field -->
    <div class="row">
        <div class="col text-right">
            <p>Last update: {{ about.updated_on }}</p>
        </div>
    </div>
 </div>
{% endblock content %}