{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- About us child template -->
 <div class="container">
    <div class="row">
        <!-- About us image -->
         <div class="col-4">
            <img src="{% static 'images/chef-about-04.webp' %}" alt="picture of a chef">
         </div class="col-8">
         <!-- About us content -->
          <div>
            <h2></h2>
            <p></p>
          </div>
    </div>
    <!-- Updated on field -->
    <div class="row">
        <div>
            <p></p>
        </div>
    </div>
 </div>
{% endblock content %}